{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="login">
        <div class="wrapper">
            <h1>Inscription</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="sign-box">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="sign-box">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </div>

                <button type="submit" class="btn-login">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
