{% extends 'layouts/layout-full-width.html.twig' %}

{% block title %}Task | home{% endblock %}

{% block actionBar %}
<div class="container mb-4">
    <div class="structural-row-center-end">
        <a href="{{ path('app_task_create') }}">
            <button class="btn btn-lg btn-outline-danger">AJOUTER</button>
        </a>
    </div>
  </div> 
{% endblock %}

{% block contentFullWidth %}
{{ include('template-parts/general-notifs.html.twig') }}

<div class="container">
    <h1>Liste des tâches</h1>
    <ul id="task-list">

    {% for task in tasks %}

    <li>

      <div class="card" style="width: 18rem;">

        <img src="{{ task.cover == defaultImg ? task.cover : app.request.getSchemeAndHttpHost() ~ asset('assets/img/cover_img/') ~ task.cover }}" class="card-img-top" alt="cover">

        <div class="card-body">

          <h5 class="card-title">{{ task.name }}</h5>

          <h6 class="card-subtitle mb-2 {{ task.dueDate|date('U') <= "now"|date('U') ? 'text-danger fw-bold' : 'text-success' }}">
            Echéance: {{ task.dueDate|date('d/m/Y') }}
          </h6>

          <p class="card-text">{{ task.description|u.truncate(70,'...') }}</p>

          <div class="d-flex flex-row justify-content-between align-items-center w-100 mt-5">

            <a href="{{ path('app_task_delete', {'id': task.id}) }}" class="btn btn-danger">
              <span class="material-symbols-outlined">delete</span>
            </a>

            <a href="{{ path('app_task_update', {'id': task.id}) }}" class="btn btn-primary">Voir/Modifier</a>
            
          </div>


        </div>

      </div>

    </li>

    {% endfor %}

  </ul>
</div>

{% endblock %}
