{% extends 'layouts/layout-full-width.html.twig' %}

{% block title %}Article|Publication{% endblock %}

{% block actionBar %}
<div class="container mb-4">

  </div> 
{% endblock %}

{% block contentFullWidth %}
    <h1>Rédigez votre article</h1>
{{ form_start(print_article, {'attr': {'novalidate': ''}}) }}

    {{ form_errors(print_article) }}
    {{ form_row(print_article.name) }}
    {{ form_row(print_article.description) }}
    {{ form_widget(print_article._token) }}

{{ form_end(print_article) }}
</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 d-flex justify-content-center align-items-stretch border border-top-0 border-left-0 border-bottom-0">
        </div>
    </div>

</div>
{% endblock %}