{% extends 'layouts/layout-full-width.html.twig' %}

{% block title %}Article|Create{% endblock %}

{% block actionBar %}
<div class="container mb-4">
    <div class="structural-row-center-end">
        <a href="{{ path('app_article') }}">
            <button class="btn btn-lg btn-outline-info">ARTICLES</button>
        </a>
    </div>
  </div> 
{% endblock %}

{% block contentFullWidth %}
<div>
    <h1>Article Form</h1>
    {{ form_start(print_article) }}
    
    {{ form_errors(print_article) }}
    {{ form_row(print_article.name) }}
    {{ form_row(print_article.description) }}
    {# {{ print_article.ref = userId }} #}

    <div class="container">
        <div class="row">
            <div class="col-sm-5 d-flex justify-content-center align-items-stretch border border-top-0 border-left-0 border-bottom-0">
        </div>
    </div>
    {# {{ form_end(form) }} #}
    {{ form_end(print_article) }}

</div>
{% endblock %}
