{% extends 'layouts/layout-full-width.html.twig' %}

{% block title %}Article|Create{% endblock %}

    ²²²²

{% block contentFullWidth %}
<div class="create">
    <div class="wrapper-create">
    <h1>Rédigez votre article</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="container">
        <div class="row">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.Publier) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
